{{>heading}}
<div id="container">

    <div id="body">

        <div id="temporaryFormat">
            <h1>PROPERTY MANAGEMENT SERVICES
            </h1>
            <p>FOR COMPLETE PROPERTY MANAGEMENT SERVICE, the charge is 35% of the first full month's rent, then a
                management fee of 8% of the monthly rent. Property management service includes:</p>
            <ul>
                <li>
                    <div>Preparation of advertising (costs to be paid by owner)</div>
                </li>
                <li>
                    <div>Preparation of the lease or month-to-month rental agreement</div>
                </li>
                <li>
                    <div>Collection of appropriate security deposit</div>
                </li>
                <li>
                    <div><a name="DDE_LINK2"></a>Qualification of prospective tenants by checking credit, employment and
                        previous landlords</div>
                </li>
                <li>
                    <div>Collection of rents when due</div>
                </li>
                <li>
                    <div>Provision of detailed computerized monthly and year-end statements for owners</div>
                </li>
                <li>
                    <div>Doing, or arranging to have done, all necessary maintenance</div>
                </li>
                <li>
                    <div>Inspection of property to assure proper upkeep by tenants</div>
                </li>
                <li>
                    <div>Payments of mortgage, utility bills, homeowners' fees or other necessary ongoing expenses</div>
                </li>
                <li>
                    <div>Keeping rents in line with the current market</div>
                </li>
            </ul>
            <h1>LEASING SERVICES</h1>
            <p>FOR LEASING SERVICE ONLY, the charge is 50% of the first full month's rent. Leasing service includes:</p>
            <ul>
                <li>
                    <div>Preparation of advertising (costs to be paid by owner)</div>
                </li>
                <li>
                    <div>Preparation of lease or month-to-month rental agreement</div>
                </li>
                <li>
                    <div>Collection of appropriate security deposit</div>
                </li>
                <li>
                    <div>Qualification of prospective tenants by checking credit, unlawful detainers, employment and
                        previous
                        landlords</div>
                </li>
            </ul>
            <p align="center"><a href="/request">Contact us
                    for more information...</a></p>
        </div>
        <!--temporaryFormat div-->
    </div>

</div>
    {{>footer}}
