{{>heading}}
   
   <div id="body">

    <p class="openingPageText">Managing properties in North San Diego County for twenty-five years. We
        manage many
        properties with world wide ownership which include:</p>

    <ul class="horzList">
        <li class="horzListLeftEnd">Single Family Dwelling</li>
        <li class="horzListMiddleDivider">Apartments</li>
        <li class="horzListMiddleDivider">Condominiums</li>
        <li class="horzListRightEnd">Commercial</li>
    </ul>

    <h3><a class="mainPagePromptLinks" href="/about">PROPERTY
            MANAGEMENT and LEASING SERVICES</a>&nbsp;</h3>
    <p class="mainPagePromptDescription">This is where you will find a list of our services and get a
        breakdown of
        our fees for full service property management and leasing services.</p>

    <h3 class="mainPagePromptLinks"><a href="/rentals">LIST OF
            CURRENT RENTALS</a></h3>
    <p class="mainPagePromptDescription">Find out what we have available!</p>


    <h3 class="mainPagePromptLinks"><a href="/request">REQUEST MORE
            INFORMATION</a></h3>
    <p class="mainPagePromptDescription">Send us a request for information and one of our agents will
        contact you
        ASAP! </p>


    <h3 class="mainPagePromptLinks"><a href="/contact">CONTACT
            US</a>&nbsp;</h3>
    <p class="mainPagePromptDescription">Find out how to get in touch!</p>

    <p class="aboutPersonDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis metus vitae arcu pharetra eleifend non vitae lectus. Proin dictum rhoncus aliquet. Etiam volutpat risus lectus. Fusce nisi massa, cursus varius vehicula vel, elementum et mauris. Nullam sit amet nunc tortor. Praesent sed est quis justo vulputate ornare sed a augue. Maecenas cursus eros vulputate gravida faucibus. Sed viverra neque at orci varius, non euismod ipsum fringilla. Quisque odio massa, scelerisque et ligula sed, ornare pretium turpis. Nulla luctus, massa ac sagittis mattis, eros dolor pretium urna, sit amet pretium diam neque eget ex.
    </p>

</div>

    {{>footer}}
