<footer>

    <span class="small siteManagement">This site is managed, designed and developed by {{ author }}.
        <a href="http://altahost.com/code/contact_main.php" target="_blank">Contact Jeff
            Philapy</a> - <a href="http://www.altahost.com/" target="_blank">http://www.altahost.com</a></span>
    <br>
</footer>
</div>
</div>

</main>
</div>
</div>
</div>
</body>

</html>