<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!<![endif]-->


<html>

<head>
    {{!--
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> --}}
    <title>{{ title }}</title>
    {{!--
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1"> --}}
    <link rel="stylesheet" href="/css/ambassadorpm.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    {{!--
    <link rel="icon" href="/img/icon.png"> --}}
</head>

<body class="d-flex flex-column vh-100">
    <div id="app" class="container mt-5">
        <div class="row">
            <div class="col-12">
                <main class="py-4">
                    <div id="backgroundImg">
                        <div id="container">
                            <div id="header">
                                <div id="imageLogo"><a href="/test"><img src="../images/site/sml_logo.gif"
                                            alt="Property Management - Logo" width="395" height="85"></a> </div>
                                <!--imageLogo div-->
                                <div id="contactBar">
                                    <div id="contactLeft">
                                        <span class="contactTitle">Phone:</span> <span
                                            class="contactText">777-777-7777</span>
                                    </div>
                                    <!--contactLeft div-->
                                    <div id="contactRight">
                                        <span class="contactTitle">Fax: </span><span
                                            class="contactText">777-777-7777</span>
                                    </div>
                                    <!--contactRight div-->
                                </div>
                                <!--contactBar div-->
                            </div>
                            <!--header div-->
                            <div id="menu">
                                <ul>
                                    <li><a href="/">Home Page</a></li>
                                    <li><a href="/about">Property
                                            Management And Leasing Services</a></li>
                                    <li><a href="/rentals">List Of
                                            Current Rentals</a></li>
                                    <li><a href="/request">Request
                                            More Information</a></li>
                                    <li><a href="/contact">Contact
                                            Us</a></li>
                                </ul>
                            </div>
                            <!-- CONTENT -->

                            {{{body}}}

                            <footer class="footer bg-light py-3 mt-auto">
                                <div class="container">
                                    <span class="small siteManagement">This site is managed, designed and developed by
                                        {{ author }}.
                                        <a href="http://altahost.com/code/contact_main.php" target="_blank">Contact Jeff
                                            Philapy</a> - <a href="http://www.altahost.com/"
                                            target="_blank">http://www.altahost.com</a></span>
                                </div>
                            </footer>


                        </div>
                    </div>

                </main>
            </div>
        </div>
    </div>

    <script src='/js/validateForms.js'></script>
</body>

</html>