<div id="container">

    <div id="body">

        <p align="center">
            <font face="Arial,Helvetica,sans-serif" size="4"><strong>CONTACT US</strong></font>
        </p>
        <p align="center">
            <font face="Arial,Helvetica,sans-serif" size="2"><strong>Office hours are:</strong></font>
        </p>
        <p align="center">
            <font face="Arial,Helvetica,sans-serif" size="2">M-F 9-5</font>
        </p>
        <p align="center">
            <font face="Arial,Helvetica,sans-serif" size="2"><strong>Telephone Numbers:</strong></font>
        </p>
        <p align="center">
            <font face="Arial,Helvetica,sans-serif" size="2">
                <font color="#000000"><strong>PH#</strong></font> 777-777-7777&nbsp; <font color="#000000">
                    <strong>FAX#</strong>
                </font> 777-777-7777
            </font>
        </p>
        <p align="center">
            <font face="Arial" size="2"><strong>Email:</strong></font>
        </p>
        <p align="center">
            <font face="Arial" size="2"><a href="request">Click here
                    to send an email</a></font>
        </p>
        <p align="center">
            <font face="Arial,Helvetica,sans-serif" size="2"><strong>Address:</strong></font>
        </p>
        <p align="center">
            <font face="Arial,Helvetica,sans-serif" size="2">1459 S. Web Site. Suite C<br>City, State
                49203
            </font>
        </p>
        <p align="center">
            <font face="Arial" size="2"></font>See&nbsp;us marked at <strong>A</strong> on the map below:&nbsp;
        </p>
        <p align="center"><img height="402" alt="" hspace="0" src="images/ambassador_map.gif" width="444" border="0">
        </p>
    </div>
</div>