<div id="body" class="container p-5">

    <p>Managing properties in North San Diego County for twenty-five years. We
        manage many
        properties with world wide ownership which include:</p>

    <ul class="horzList">
        <li class="horzListLeftEnd">Single Family Dwelling</li>
        <li class="horzListMiddleDivider">Apartments</li>
        <li class="horzListMiddleDivider">Condominiums</li>
        <li class="horzListRightEnd">Commercial</li>
    </ul>
    <div class="overlay">
        <a href="/about" class="reset-link">
            <h3>PROPERTY
                MANAGEMENT and LEASING SERVICES&nbsp;</h3>
            <p>This is where you will find a list of our services and get a
                breakdown of
                our fees for full service property management and leasing services.</p>
        </a>
    </div>

    <div class="overlay">
        <a href="/rentals" class="reset-link">
            <h3>LIST OF
                CURRENT RENTALS</h3>
            <p>Find out what we have available!</p>
        </a>
    </div>

    <div class="overlay">
        <a href="/request" class="reset-link">
            <h3>REQUEST MORE
                INFORMATION</h3>
            <p>Send us a request for information and one of our agents will
                contact you
                ASAP! </p>
        </a>
    </div>
    <div class="overlay">
        <a href="/contact" class="reset-link">
            <h3>CONTACT
                US</h3>

            <p>Find out how to get in touch!</p>
        </a>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis metus vitae
        arcu pharetra eleifend non vitae lectus. Proin dictum rhoncus aliquet. Etiam volutpat risus lectus. Fusce nisi
        massa, cursus varius vehicula vel, elementum et mauris. Nullam sit amet nunc tortor. Praesent sed est quis justo
        vulputate ornare sed a augue. Maecenas cursus eros vulputate gravida faucibus. Sed viverra neque at orci varius,
        non euismod ipsum fringilla. Quisque odio massa, scelerisque et ligula sed, ornare pretium turpis. Nulla luctus,
        massa ac sagittis mattis, eros dolor pretium urna, sit amet pretium diam neque eget ex.
    </p>

</div>