<div class="container">

    <div id="body">

        <div id="temporaryFormat">
            <br>

            <div class="card">
                <div class="card-body">
                    {{!-- //if($errors->any()) --}}
                    <div class="alert alert-danger">
                        <ul class="list-group">
                            {{!-- foreach($errors->all() as $error) --}}
                            <li class="list-group-item text-danger">
                                {{!-- $error --}}
                            </li>
                            {{!-- //endforeach --}}
                        </ul>
                    </div>
                    {{!-- //endif --}}
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <strong>READ BEFORE CONTACTING US:</strong>

                    <ul>
                        <li>
                            30$ cash applicant fee per
                            applicant (covers
                            credit check and processing)
                        </li>
                        <li>
                            Copy of drivers license

                        </li>
                        <li>
                            Last two pay stubs if
                            employed
                        </li>
                        <li>
                            If self-employed, we need the
                            last two
                            consecutive bank statements (summary page showing deposits).
                        </li>
                        <li>
                            If prospective tenant had a
                            bankruptcy we
                            need it to be discharged.
                        </li>
                        <li>
                            If military, copy of LES is
                            required.
                        </li>
                    </ul>
                </div>
            </div>
            <form method="post" class="request-info needs-validation" action="email-request" novalidate>

                <p>If you are
                    requesting
                    information on a specific property, please visit our <a href="rentals">List
                        Of Current Rentals</a> and click "Contact Us about this property" next
                    to the property that
                    you wish to know more about.</p>
                <label for="validationCustom01" class="form-label">First name</label>
                <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
                <div class="form-group">
                    <label for="name" class="form-label">Full Name</label>

                    <input type="text" class="form-control" name="name" id="name" size="32" required>
                </div>

                <div class="form-group">
                    <label for="email">Email Address:</label>

                    <input type="email" class="form-control" name="email" id="email" size="32" required>
                </div>
                <div class="form-group">
                    <label for="phn_num">Phone #:</label>
                    <input type="tel" class="form-control" name="phn_num" id="phn_num" size="32">
                </div>

                <div class="form-group">
                    <label for="subject">Subject:</label>
                    <select class="form-control" name="subject" id="subject" required>
                        <option value="">-- Select a Subject --</option>
                        <option value="General Information">General Information</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="prop_type">Type:</label>
                    <select class="form-control" name="prop_type" id="prop_type">
                        <option value="">-- Select a Property Type --</option>
                        <option value="Apartment">Apartment</option>
                        <option value="Condo">Condo</option>
                        <option value="Duplex">Duplex</option>
                        <option value="House">House</option>
                        <option value="Mobile Home">Mobile Home</option>
                        <option value="Studio">Studio</option>
                        <option value="Townhouse">Townhouse</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="price_range">Price Range:</label>
                    <select class="form-control" name="price_range" id="price_range">
                        <option value="">-- Select a Price Range --</option>
                        <option value="$1200 to $1400">$1200 to $1400</option>
                        <option value="$1500 to $1800">$1500 to $1800</option>
                        <option value="$1800 to $2500">$1800 to $2500</option>
                        <option value="$2600+">$2600+</option>
                        <option value="$900 to $1200">$900 to $1200</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="moveindate">Estimated Move in Date:</label>
                    <input class="form-control" name="moveindate" type="text" id="moveindate">
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea class="form-control" name="message" id="message" cols="50" rows="5" required></textarea>
                </div>
                <button type="submit" class="btn btn-success" name="MM_insert">Send Request/Message</button>
            </form>
        </div>
    </div>
</div>