<div class="container">

    <div id="body">

        <div id="temporaryFormat">

            <div class="alert alert-success mt-3">
                <ul class="list-group">

                    <li class="list-group-item text-success">
                        Message Sent!
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>